*{
  padding: 0%;
  margin: 0%;
}


/* NAVBAR */
.bg-nav{
  background: #4361ee;
}

.linkNav{
  text-decoration: none !important;
  color: azure;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

.linkNav:hover{
  color: #8f8f8f;
}

.logo{
  color: azure !important;
  padding: 10px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}

.logo .linkNavLogo{
  text-decoration: none !important;
  color: azure;
}


/* SHOPPINGCART */
.shop-cart{
  color:azure !important;
}


/* PRODUCTS CONTAINER */
.containerProducts{
  padding-top: 15px;
  border-bottom: 1px solid #dee2e6;
}

.productsTitle{
  font-size: 22px;
}

.productsImg{
  width: 30%;
  height: 130px;
}

.productsDes{
  margin-bottom: 0% !important;
  font-size: 11px !important;
}
.productsPrice{
  font-weight: 700;
  font-size: 13px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;

}
.productsBtnContainer{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}


/* BTN ADD TO CART */
.productsBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.btnContainerAddRemove{
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.addIcon{
  width: 14px !important;
}

.removeIcon{
  width: 14px !important;
}

.count{
  display: flex;
  align-items: center;
  font-size: 15px;
}

.count p{
  margin-bottom: 0% !important;
}

.btnAddToCart{
  background-color: #4361ee !important;
  color: azure !important;
  font-size: 0.675rem !important;
  width: 160px !important;
}

.btnAddToCart:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}


/* BTN DETAIL */
.btnDetailContainer{
  display: flex;
  justify-content: center;
}

.btnDetail{
  background-color: #9c27b0 !important;
  border: #9c27b0 !important;
  margin-bottom: 20px !important;
  color: azure !important;
  font-size: 0.675rem !important;
  width: 160px !important;
}

.btnDetail:hover{
  background-color: #882599 !important;
  border: #882599 !important;
}

.btnDetailLink{
  text-decoration: none;
}


/* BTN CHECKOUT */
.btnCheckout{
  background-color: #ff006e !important;
  border: #ff006e !important;
  color: azure !important;
  width: 160px;
  font-size: 0.675rem !important;
}

.btnCheckout:hover{
  background-color: #d1015b !important;
  border: #d1015b !important;
}

.btnCheckoutLink{
  text-decoration: none;
  color: azure !important;
  font-size: 0.875rem !important;
}


/* ITEM DETAIL */
.containerItemDetail{
  margin-top: 30px;
}

.itemDetailImg{
  height: 400px;
  width: 100%;
}

.itemDetailDescription{
  width: 500px;
}
.itemDetailDescription p{
  font-size: 15px;
}

.itemDetail{
  margin-bottom: 20px;
}

.itemDetail p{
  font-size: 12px !important;
  margin: 5px !important;
  margin-left: 0% !important;
}

.itemDetailCount{
  display: flex;
  align-items: center;
  height: 400px;
}


/* STOCK */
.stock{
  font-size: 12px;
  color: #8f8f8f;
}


/* EMPTY CART */
.conatinerEmptyCart{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  background-color: #778da9;
  padding-top: 15px;
  padding-bottom: 15px;
}


/* CART */
.containerTitleCart{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.titleCart{
  text-transform: uppercase;
  font-weight: bold;

}

.containerRemoveCart{
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
}

.containerContinueShop{
  display: flex;
  justify-content: left;
  margin-bottom: 30px;

}


/* BTN CONTINUE SHOPPING */
.btnContinueShoplLink{
  text-decoration: none;
}

.btnContinueShop{
  background-color: #4361ee !important;
  border: #3b53c0 !important;
  color: azure !important;
  font-size: 0.675rem !important;
  width: 180px;
}

.btnContinueShop:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}


/* BTN EMPTY CART */
.emptyCart{
  background-color: #4361ee !important;
  border: #3b53c0 !important;
  color: azure !important;
  font-size: 0.675rem !important;
  width: 180px;
}

.emptyCart:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}


/*  ITEM CART */
.containerCart{
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.containerItemCart{
  width: 70%;

}

.itemCart{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.imgCart{
  width: 100px;
  height: 90px;
}

.containerprice p{
  font-size: 12px !important;
  margin-bottom: 5px !important;
}


/* BTN DELETE ITEM */
.btnDeleteItem{
  background-color: #4361ee !important;
  border: #3b53c0 !important;
  
  width: 0%;
}

.btnDeleteItem:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}

.DeleteForeverIcon{
  font-size: 16px !important;
}


/* ORDER SUMMAY */
.containerOrderSummary{
  width: 30%;
}

.orderSummary{
  border: 1px solid #dee2e6 ;
  border-radius: 6px;
  padding: 15px;
}

.titleOrderSummary{
  text-transform: uppercase;
  font-size: 18px !important;
  margin-bottom: 20px;
}


/* CHECKOUT NOW */
.containerCheckoutNow{
  display: flex;
  justify-content: center;
}

.checkoutNow{
  background-color: #ff006e !important;
  border: #ff006e !important;
  color: azure !important;
  font-size: 0.675rem !important;
  width: 180px;
}

.checkoutNow:hover{
  background-color: #d1015b !important;
  border: #d1015b !important;
}
