*{
  padding: 0%;
  margin: 0%;
}


/* NAVBAR */
.bg-nav{
  background: #4361ee;
}

.linkNav{
  text-decoration: none !important;
  color: azure;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

.linkNav:hover{
  color: #8f8f8f;
}

.logo{
  color: azure !important;
  padding: 10px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}

.logo .linkNavLogo{
  text-decoration: none !important;
  color: azure;
}


/* SHOPPINGCART */
.shop-cart{
  color:azure !important;
}


/* PRODUCTS CONTAINER */
.productsContainer{
    height: 210px;
    border-top: 1px solid #dee2e6;
    color: #000;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.containerProductsImg{
  width: 40%;
}

.productsImg{
  width: 30%;
  height: 160px;
}

.productsDescription{
  width: 30%;
}

.productsDescription p{
  margin-bottom: 0% !important;
  font-size: 12px !important;
}

.productsBtnContainer{
  display: flex;
  flex-direction: column;

}


/* BTN ADD TO CART */
.productsBtn{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
}

.count{
  display: flex;
  align-items: center;
}

.count p{
  margin-bottom: 0% !important;
}

.btnAddToCart{
  background-color: #4361ee !important;
  color: azure !important;
  font-size: 0.675rem !important;
  width: 160px !important;
}

.btnAddToCart:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}


/* BTN DETAIL */
.btnDetailContainer{
  display: flex;
  justify-content: end;
}

.btnDetail{
  background-color: #9c27b0 !important;
  border: #9c27b0 !important;
  margin-bottom: 20px !important;
  color: azure !important;
  font-size: 0.675rem !important;
  width: 160px !important;
}

.btnDetail:hover{
  background-color: #882599 !important;
  border: #882599 !important;
}

.btnDetailLink{
  text-decoration: none;
}


/* BTN CHECKOUT */
.btnCheckout{
  background-color: #ff006e !important;
  border: #ff006e !important;
  color: azure !important;
}

.btnCheckout:hover{
  background-color: #d1015b !important;
  border: #d1015b !important;
}

.btnCheckoutLink{
  text-decoration: none;
  color: azure !important;
  font-size: 0.875rem !important;
}


/* ITEMDETAIL */
.productsContainerDetail{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  height: 600px;
}

.containerProductsImgDetail{
  display: flex;
  justify-content: center;
  width: 40%;
}

.productsImgDetail{
  width: 60%;
  height: 400px;
}

.containerDetail{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  padding: 10px;
}

.productsDescriptionDetail{
  width: 500px;
}

.itemCountDetail{
  display: flex;
}


/* STOCK */
.stock{
  font-size: 12px;
  color: #8f8f8f;
}


/* EMPTY CART */
.conatinerEmptyCart{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}


/* CART */
.containerTitleCart{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.containerRemoveCart{
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
}

.containerContinueShop{
  display: flex;
  justify-content: left;
  margin-bottom: 30px;

}

.containerItemCart{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.imgCart{
  width: 100px;
  height: 100px;
}


/* BTN CONTINUE SHOPPING */
.btnContinueShoplLink{
  text-decoration: none;
}

.btnContinueShop{
  background-color: #4361ee !important;
  color: azure !important;
  font-size: 0.675rem !important;
}

.btnContinueShop:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}

/* BTN EMPTY CART */
.emptyCart{
  background-color: #4361ee !important;
  color: azure !important;
  font-size: 0.675rem !important;
}

.emptyCart:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}


/* BTN DELETE ITEM */
.btnDeleteItem{
  font-size: 10px !important;
}
