*{
  padding: 0%;
  margin: 0%;
}

@font-face{
  font-family: 'mulish-light';
  src: url(./assets/font/Mulish-Light.ttf);
}

@font-face{
  font-family: 'mulish-regular';
  src: url(./assets/font/Mulish-Regular.ttf);
}

@font-face{
  font-family: 'mulish-medium';
  src: url(./assets/font/Mulish-Medium.ttf);
}

@font-face{
  font-family: 'mulish-extraBold';
  src: url(./assets/font/Mulish-ExtraBold.ttf);
}

body{
  font-family: 'mulish-regular' !important;
}

/* ------ NAVBAR ------ */
.bg-nav{
  background: rgba(51, 51, 51, 1);
}

#basic-navbar-nav{
  justify-content: center !important;
}

.linkNav{
  text-decoration: none !important;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'mulish-regular' !important;
}

.linkNav:hover{
  color: #8f8f8f;
  line-height: 1.2  !important;
  position: relative !important;
  display: inline-block !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  border-bottom: 1px solid #4361ee !important;

}

.logo{
  font-family: 'mulish-extraBold';
  color: #fff !important;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.logo .linkNavLogo{
  text-decoration: none !important;
  color: #fff;
}


/* ------ CART WIDGET ------ */
.linkCart{
  display: flex;
  justify-content: end;
  width: 300px;
  margin-left: 10px;
  text-decoration: none !important;
  color: #4361ee !important;
  font-size: 12px;
  font-weight: 700;
}

.containerCartWidgetNav{
  display: flex;
  align-items: center;
}

.containerCartNav{
  margin-left: 10px !important;
  padding-left: 5px;
  border-left: 1px solid #8f8f8f;
}

.containerCartNav p{
  margin-bottom: 0%;
}

.containerCartNav p{
  text-decoration: none !important;
}

/* SHOPPINGCART */
.shopCart{
  color:#fff !important;
}

.shopCart:hover{
  color: #8f8f8f !important;
}

.shopCart  .MuiSvgIcon-root {
  font-size: 18px !important;
}


/* ------ PRODUCTS CONTAINER ------ */
.containerProducts{
  padding-top: 15px;
  border-bottom: 1px solid #dee2e6;
}

.productsTitle{
  font-size: 18px;
  font-family: 'mulish-medium' !important;
}

.productsImg{
  width: 30%;
  height: 130px;
}

.productsDes{
  margin-bottom: 0% !important;
  font-size: 11px !important;
}

.productsPrice{
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  color: #ff006e;
}

.productsBtnContainer{
  display: flex;
  height: 100% ;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}


/* ------ BTN ADD TO CART ------ */
.productsBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.btnContainerAddRemove{
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.addIcon{
  width: 14px !important;
}

.removeIcon{
  width: 14px !important;
}

.count{
  display: flex;
  align-items: center;
  font-size: 15px;
}

.count p{
  margin-bottom: 0% !important;
}

.btnAddToCart{
  background-color: #4361ee !important;
  border: #4361ee !important;
  color: #fff !important;
  font-size: 0.580rem !important;
  width: 160px !important;
}

.btnAddToCart:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}


/* ------ BTN DETAIL ------ */
.btnDetailContainer{
  display: flex;
  justify-content: center;
}

.btnDetail{
  background-color: #4361ee !important;
  border: #4361ee !important;
  margin-bottom: 20px !important;
  color: #fff !important;
  font-size: 0.580rem !important;
  width: 160px !important;
}

.btnDetail:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}

.btnDetailLink{
  text-decoration: none;
}

/* ------ ITEM DETAIL ------ */
.containerItemDetail{
  margin-top: 50px;
}

.itemDetailImg{
  height: 250px;
  width: 80%;
}

.itemDetailDescription{
  width: 500px;
}
.itemDetailDescription p{
  font-size: 12px;
  line-height: 1.2rem;
}

.itemDetail{
  margin-bottom: 20px;
}

.itemDetail p{
  font-size: 12px !important;
  margin: 5px !important;
  margin-left: 0% !important;
}

.itemDetailCount{
  display: flex;
  align-items: center;
  height: 400px;
  justify-content: center;
}

.detailPriceTotal{
  font-size: 16px;
  color: #ff006e;
  font-weight: 700;
  margin-bottom: 20px;
}

/* STOCK */
.stock{
  font-size: 12px !important;
  color: #8f8f8f;
}

/* ------ BTN CHECKOUT ------ */
.btnCheckout{
  background-color: #ff006e !important;
  border: #ff006e !important;
  color: #fff !important;
  width: 160px;
  font-size: 0.580rem !important;
}

.btnCheckout:hover{
  background-color: #d1015b !important;
  border: #d1015b !important;
}

.btnCheckoutLink{
  text-decoration: none;
  color: #fff !important;
  font-size: 0.580rem !important;
}


/* ------ EMPTY CART ------ */
.conatinerEmptyCart{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  background-color: #8f8f8f;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 400px;
  align-items: center;
}

.shopCartAdd{
  font-size:4.5rem !important;
}

/* BTN SEARCH PRODUCTS */
.btnSearchProducts{
  background-color: #ff006e !important;
  border: #ff006e !important;
  color: #fff !important;
  font-size: 0.675rem !important;
  width: 180px;
}

.btnSearchProducts:hover{
  background-color: #d1015b !important;
  border: #d1015b !important;
}


/* ------ CART ------ */
.containerTitleCart{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.titleCart{
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'mulish-medium' !important;

}

/* BTN CONTINUE SHOPPING */
.containerContinueShop{
  display: flex;
  justify-content: left;
  margin-bottom: 30px;

}

.btnContinueShoplLink{
  text-decoration: none;
}

.btnContinueShop{
  background-color: #4361ee !important;
  border: #4361ee !important;
  color: azure !important;
  font-size: 0.580rem !important;
  width: 180px;
}

.btnContinueShop:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}


/* BTN EMPTY CART */
.containerRemoveCart{
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
}

.emptyCart{
  background-color: #4361ee !important;
  border: #4361ee !important;
  color: #fff !important;
  font-size: 0.580rem !important;
  width: 180px;
}

.emptyCart:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}


/* ------  ITEM CART ------ */
.containerCart{
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.containerItemCart{
  width: 70%;

}

.itemCart{
  width: 80%;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid #dee2e6;
}

.imgCart{
  width: 100px;
  height: 90px;
}

.containerPrice p{
  font-size: 12px !important;
  margin-bottom: 5px !important;
}


/* BTN DELETE ITEM */
.containerBtnDeleteItem{
  display: flex;
  justify-content: center;
}

.btnDeleteItem{
  background-color: #4361ee !important;
  border: #4361ee !important;
  width: 20px !important;
  padding: 3px !important;
}

.btnDeleteItem:hover{
  background-color: #3b53c0 !important;
  border: #3b53c0 !important;
}

.btnDeleteItem .MuiSvgIcon-root{
  font-size: 14px !important;
}

.MuiButton-root{
  min-width: 5% !important;
}


/* ------ ORDER SUMMAY ------ */
.containerOrderSummary{
  width: 30%;
}

.orderSummary{
  border: 1px solid #dee2e6 ;
  border-radius: 6px;
  padding: 25px;
}

.titleOrderSummary{
  text-transform: uppercase;
  font-family: 'mulish-extraBold' !important;
  font-size: 16px !important;
  margin-bottom: 20px;
}

.order{
  display: flex;
  justify-content: space-between;
}

.orderSubTotal{
  font-weight: 700;
  font-size: 12px;
}

.orderTotal{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
}

.orderPrice{
  font-size: 12px;
}

.orderPriceTotal{
  font-size: 14px;
  color: #ff006e;
  font-weight: 700;
}


/* CHECKOUT NOW */
.containerCheckoutNow{
  display: flex;
  justify-content: center;
}

.checkoutNow{
  background-color: #ff006e !important;
  border: #ff006e !important;
  color: #fff !important;
  font-size: 0.675rem !important;
  width: 180px;
}

.checkoutNow:hover{
  background-color: #d1015b !important;
  border: #d1015b !important;
}


.swal-modal {
  background-color: #4361ee;
  color: #fff;
}

.swal-text{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

